.footer {
    margin-top: 98px;
    background-image: url('../images/footer_background.png');
    position: relative;
}

.footer_circle {
    position: absolute;
    top: 100px; 
    left: 70%;
    transform: translateX(-50%);
    width: 83px; 
    height: 69px;
    background-color: #007bff; 
    border-radius: 50%;
}

.footer_small_circle{
    position: absolute;
    top: 24px; 
    left: 77%;
    transform: translateX(-50%);
    width: 33px; 
    height: 28px;
    background-color: #007bff;
    border-radius: 50%; 
}


.footer_para {
    color: white;
    text-align: justify;
    line-height: 24px;
    font-size: 14px;
    margin-left: 33px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

.footer_follow{
    color: white;
    text-align: left;
    font-size: 24px;
    margin-left: 33px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.footer_icon{
    float: left;
    margin-left: 5px;
    width: 9%;
}

.footer_fb_icon{
    float: left;
    margin-left: 25px;
    width: 9%;
    margin-bottom: 25px;
}

.footer_address{
    margin-top: 211px;
}

.footer_second_address{
    margin-top: 217px;
}

.footer_location{
    font-size: 24px;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.footer_location_details{
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    margin-left: 24px;
    text-align: justify;
}

.footer_logo{
    margin-top: 114px;
}

.footer_submit{
    margin-top: 276px;
}

.footer_submit_btn{
    margin-left: 3px;
    border: none;
    background-color: black;
    color: white;
    padding: 4px;
    width: 26%;
}

@media screen and (max-width: 1000px) {

    .footer_input{
        width: 65%;
    }

    .footer_submit_btn {
        margin-left: 3px;
        border: none;
        background-color: black;
        color: white;
        padding: 4px;
        width: 30%;
    }

    .footer_circle {
        position: absolute;
        top: 64px;
        left: 70%;
        transform: translateX(-50%);
        width: 83px;
        height: 69px;
        background-color: #007bff;
        border-radius: 50%;
    }

    .footer_small_circle {
        position: absolute;
        top: 0px;
        left: 77%;
        transform: translateX(-50%);
        width: 33px;
        height: 28px;
        background-color: #007bff;
        border-radius: 50%;
    }

}

@media screen and (max-width: 991px) {

    .footer_location_details {
        font-size: 13px;
        font-weight: 500;
        color: white;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        margin-left: 24px;
        text-align: justify;
        width: 94%;
    }

    .footer_address {
        margin-top: 200px;
    }

    .footer_second_address {
        margin-top: 200px;
    }
}

@media screen and (max-width: 784px) {

    .footer_circle {
        position: absolute;
        top: 10px;
        left: 85%;
        transform: translateX(-50%);
        width: 83px;
        height: 69px;
        background-color: #007bff;
        border-radius: 50%;
    }

    .footer_small_circle {
        position: absolute;
        top: -30px;
        left: 96%;
        transform: translateX(-50%);
        width: 33px;
        height: 28px;
        background-color: #007bff;
        border-radius: 50%;
    }

    .footer_para {
        color: white;
        text-align: justify;
        line-height: 24px;
        font-size: 14px;
        margin-left: 33px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
        width: 91%;
    }

    .footer_location_details {
        font-size: 12px;
        font-weight: 500;
        color: white;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        margin-left: 24px;
        text-align: justify;
        width: 94%;
    }

    .footer_submit_btn {
        margin-left: 3px;
        border: none;
        background-color: black;
        color: white;
        padding: 4px;
        width: 33%;
    }

}

@media screen and (max-width: 600px) {
    .footer {
        margin-top: 98px;
        background-image: url('../images/footer_background.png');
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer_circle {
        position: absolute;
        top: -76px;
        left: 85%;
        transform: translateX(-50%);
        width: 83px;
        height: 69px;
        background-color: #007bff;
        border-radius: 50%;
    }

    .footer_small_circle {
        position: absolute;
        top: -122px;
        left: 96%;
        transform: translateX(-50%);
        width: 33px;
        height: 28px;
        background-color: #007bff;
        border-radius: 50%;
    }

    .footer_para {
        color: white;
        text-align: justify;
        line-height: 24px;
        font-size: 17px;
        margin-left: 33px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
        width: 91%;
    }

    .footer_address {
        margin-top: 26px;
    }

    .footer_location_details {
        font-size: 16px;
        font-weight: 500;
        color: white;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        margin-left: 24px;
        text-align: justify;
        width: 94%;
    }

    .footer_second_address {
        margin-top: 32px;
    }

    .footer_submit {
        margin-top: 56px;
        margin-bottom: 25px;
    }

    .footer_input {
        width: 40%;
    }

    .footer_fb_icon {
        float: left;
        margin-left: 25px;
        width: 5%;
        margin-bottom: 25px;
    }

    .footer_icon {
        float: left;
        margin-left: 5px;
        width: 5%;
    }
   
}

@media screen and (max-width: 500px) {

    .footer_para {
        color: white;
        text-align: justify;
        line-height: 24px;
        font-size: 17px;
        margin-left: 33px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
        width: 87%;
    }

    .footer_location_details {
        font-size: 16px;
        font-weight: 500;
        color: white;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        margin-left: 24px;
        text-align: justify;
        width: 90%;
    }

    .footer_submit {
        margin-top: 51px;
        margin-bottom: 23px;
    }


}

@media screen and (max-width: 400px) {

    .footer_para {
        color: white;
        text-align: justify;
        line-height: 24px;
        font-size: 17px;
        margin-left: 33px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
        width: 87%;
    }

    .footer_location_details {
        font-size: 16px;
        font-weight: 500;
        color: white;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        margin-left: 24px;
        text-align: justify;
        width: 90%;
    }


}