.logo {
    height: 62px;
    background-image: linear-gradient(to right, #224495, #3B70F9);
    clip-path: polygon(0 0, 69% 0, 56% 100%, 0% 100%);
}

.logo_img{
    width: 61%;
    float: left;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    height: 38px;
    margin-top: -27px;
}

.header_menu {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.nav-link {
    position: relative;
    color: #224495;
    text-decoration: none;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #224495;
}