.carousel-caption {
    position: absolute;
    right: 50%;
    bottom: 169px;
    left: 10%;
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 264px;
    color: #fff;
    text-align: left;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 7px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 60%;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-indicators li {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators .active {
    background-color: #224495;
}

.services_head {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.basic_btn {
    height: 40px;
    background-image: linear-gradient(to right, #224495, #3B70F9);
    color: #FFFFFF;
    border: none;
    font-size: 18px;
}

.explore_arrow {
    font-size: 20px;
    margin-left: 14px;
}

.about_head {
    margin-top: 60px;
    font-weight: 700;
    background: linear-gradient(to right, #224495, #3B70F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

.about_business {
    font-size: 19px;
    margin-top: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #0F0D1D;
    font-family: 'Roboto', sans-serif;
}

.about_img {
    width: 80%;
}

.about_section {
    color: #878787;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_img {
    width: 60%;
    margin: 17px 0 0px 0px;
}

.services {
    font-size: 16px;
    font-weight: 500;
    margin-right: 54px;
}

.card_section {
    display: flex
}

.services_section {
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    text-align: left;
    margin-left: 19px;
}

.support {
    font-size: 14px;
    margin-right: 41px;
}

.support_section {
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    text-align: left;
    margin-left: 19px;
}

.about_basic_btn {
    width: 29%;
    height: 40px;
    background-image: linear-gradient(to right, #224495, #3B70F9);
    color: #FFFFFF;
    border: none;
    float: left;
    margin-top: 19px;
}

.about_basic_btn>span {
    margin-left: 5px;
}

.card.business {
    width: 87%;
}

.card.business:hover {
    width: 87%;
    background-image: linear-gradient(to right, #224495, #3B70F9);
}

.card.business>p {
    color: black;
}

.card.business:hover>p {
    color: white;
}

.card.image {
    width: 98px;
    margin-left: 100px;
    margin-top: 21px;
    background: linear-gradient(to right, #224495, #3B70F9);
}

.card_inner_section {
    width: 21%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.card_inner_img {
    margin: 11px 0 11px 28px;
    width: 47%;
}

.card_inner__img {
    margin: 11px 0 11px 19px;
    width: 61%;
}

.management {
    margin-top: 13px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.management_content {
    text-align: justify;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    padding: 0 16px 16px 16px;
    color: black;
}

.about_services_btn {
    width: 20%;
    height: 40px;
    background-image: linear-gradient(to right, #224495, #3B70F9);
    color: #FFFFFF;
    border: none;
    margin-top: 19px;
    margin-right: 35px;
}

.rating_img {
    width: 84%;
}

.about_image {
    background-image: url('../images/about_backimage.png');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    width: 88%;
    margin: 37px 0 57px 65px;
    min-height: 189px;
}

.rating {
    display: flex;
    margin-left: 37px;
    margin-top: 13px;
}

.rating_content {
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 18px;
}

.offer_img {
    background-image: url('../images/offer.png');
    background-size: cover;
    background-position: center;
    min-height: 256px;
}

.offer_web {
    width: 34%;
    margin-top: 67px;
    margin-left: 40px;
}

.offer_web_content {
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 38px;
}

.offer_android {
    width: 39%;
    margin-top: 58px;
    margin-left: 38px;
}

.offer_android_content {
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 38px;
}

.offer_apple {
    width: 39%;
    margin-top: 58px;
    margin-left: 38px;
}

.offer_apple_content {
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 38px;
}

.offer_iot {
    width: 33%;
    margin-top: 58px;
    margin-left: 62px;
}

.offer_iot_content {
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 62px;
}

.btn-primary.web {
    border-radius: 5px;
}

.sample {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 112px;
    border: 2px solid #dee2e6;
    opacity: 30%;
    border-radius: 5px;
}

.card.work {
    width: 84%;
}

.req_img {
    width: 30%;
    margin: 26px 0 0 0px;
    border-radius: 50%;
}

.requirement_head {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.requirement_des {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    padding: 0px 10px 7px 16px;
    color: #878787;
}

.demo {
    position: relative;
    display: inline-block;
}

.circle {
    position: absolute;
    top: 37px;
    right: 100px;
    background: linear-gradient(to right, #224495, #3B70F9);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.review_content {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #878787;
}

.rectangle-box {
    width: 97%;
    padding: 20px;
    border: 2px solid #ccc;
    background: linear-gradient(to right, #224495, #3B70F9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 57px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group.label {
    margin-bottom: 10px;
    margin-left: 50px;
}

.form-group label {
    display: block;
    text-align: justify;
    color: white;
}

.form-group input {
    width: 115%;
    padding: 5px;
    border-radius: 5px;
}

.review_des {
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.review_textarea {
    width: 100%;
    height: 87px;
}

.submit_btn {
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
}

.form_background {
    background-image: url('../images/form.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 198px;
}

.form_align {
    margin-top: 45px;
    margin-left: 24px;
    margin-bottom: 30px;
}

.star-rating {
    display: flex;
    direction: row-reverse;
    justify-content: center;
    font-size: 1rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: fill 0.2s;
}

.card.review {
    width: 68%;
    margin-left: 32px;
    margin-bottom: 20px;
}

.profile_img {
    width: 24%;
    height: 100px;
    margin: 19px 10px 10px 10px;
}

.review_section {
    display: flex;
}

.review_name {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.review_designation {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #858585;
}

.review_description {
    text-align: justify;
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.profile_shape_img {
    margin-top: 37px;
    margin-left: 43px;
}

.profile_shape_sec_img {
    margin-top: 37px;
    margin-left: 9px;
}

.arrow-btn-up-arrow {
    float: right;
    margin-top: 234px;
    margin-right: 96px;
    border-color: #3B70F9;
    background-color: white;
    border-radius: 47px;
    width: 33px;
    height: 33px;
    color: #3B70F9;
}

.arrow-btn-up-arrow:hover {
    float: right;
    margin-top: 234px;
    margin-right: 96px;
    border: none;
    border-color: #3B70F9;
    background-color: #3B70F9;
    border-radius: 47px;
    width: 33px;
    height: 33px;
    color: white;
}

.arrow-btn-down-arrow {
    float: right;
    margin-top: 288px;
    margin-right: -33px;
    border-color: #3B70F9;
    background-color: white;
    border-radius: 47px;
    width: 33px;
    height: 33px;
    color: #3B70F9;
}

.arrow-btn-down-arrow:hover {
    float: right;
    margin-top: 288px;
    margin-right: -33px;
    border: none;
    border-color: #3B70F9;
    background-color: #3B70F9;
    border-radius: 47px;
    width: 33px;
    height: 33px;
    color: white;
}

.chat {
    position: fixed;
}

.case_studies {
    position: absolute;
    color: white;
    margin-top: -75px;
    margin-left: 22px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.case_studies_content {
    position: absolute;
    color: white;
    margin-top: -45px;
    margin-left: 22px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.rectangle {
    width: 4%;
    padding: 8px;
    background: linear-gradient(to right, #224495, #3B70F9);
    margin-left: 200px;
    color: white;
    position: absolute;
    margin-top: -65px;
}

.view_all_btn {
    margin-top: 35px;
    height: 40px;
    width: 15%;
    border: none;
    background: linear-gradient(to right, #224495, #3B70F9);
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.case_studies_img {
    width: 100%;
    height: 85%;
}

@media screen and (max-width: 1200px) {

    .carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 169px;
        left: 10%;
        z-index: 10;
        padding-top: 8px;
        padding-bottom: 264px;
        color: #fff;
        text-align: left;
        top: 21%;
    }

    .basic_btn {
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {

    .carousel-caption {
        position: absolute;
        right: 50%;
        top: 15%;
        bottom: 169px;
        left: 10%;
        z-index: 10;
        padding-top: 8px;
        padding-bottom: 264px;
        color: #fff;
        text-align: left;
    }

    .basic_btn {
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 18px;
    }

    .explore_arrow {
        margin-left: 13px;
        font-size: 21px;
    }

    .card.image {
        width: 98px;
        margin-left: 74px;
        margin-top: 21px;
        background: linear-gradient(to right, #224495, #3B70F9);
    }

    .card_inner_section {
        width: 30%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 69px;
    }

    .card_img {
        width: 61%;
        margin: 9px 0 0px 0px;
    }

    .card.business>p {
        color: black;
    }
    
    .card.business:hover>p {
        color: white;
    }

    .services {
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
    }

    .support {
        font-size: 14px;
        margin-right: 5px;
    }

    .rating {
        display: flex;
        margin-left: 11px;
        margin-top: 13px;
    }

    .rectangle {
        width: 4%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        margin-left: 173px;
        color: white;
        position: absolute;
        margin-top: -86px;
    }

    .circle {
        position: absolute;
        top: 26px;
        right: 89px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .form-group input {
        width: 107%;
        padding: 5px;
        border-radius: 5px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-top: 238px;
        margin-right: 63px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-top: 238px;
        margin-right: 63px;
        border-color: #3B70F9;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 289px;
        margin-right: -34px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 289px;
        margin-right: -34px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

    .review_name {
        margin-top: 21px;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    .profile_shape_img {
        margin-top: 30px;
        margin-left: 43px;
        width: 14%;
    }

    .profile_shape_sec_img {
        margin-top: 30px;
        margin-left: 9px;
        width: 14%;
    }

    .review_description {
        text-align: justify;
        margin: 9px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

}

@media screen and (max-width: 991px) {

    .container {
        max-width: 840px;
    }

    .card.business {
        width: 107%;
    }

    .card.business:hover {
        width: 107%;
    }

    .card.image {
        width: 98px;
        margin-left: 88px;
        margin-top: 21px;
        background: linear-gradient(to right, #224495, #3B70F9);
    }

    .card_inner_section {
        width: 38%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 79px;
        margin-left: 6px;
    }

    .card_img {
        width: 68%;
        margin: 16px 0 0px 0px;
    }

    .services {
        font-size: 14px;
        font-weight: 500;
    }

    .services_section {
        font-size: 13px;
        font-weight: 500;
        color: #878787;
        text-align: justify;
        margin-left: 10px;
    }

    .support {
        font-size: 14px;
        margin-right: -13px;
    }

    .support_section {
        font-size: 13px;
        font-weight: 500;
        color: #878787;
        text-align: justify;
        margin-left: 12px;
    }

    .about_basic_btn {
        width: 40%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        float: left;
        margin-top: 14px;
    }

    .case_studies {
        position: absolute;
        color: white;
        margin-top: -75px;
        margin-left: 22px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .case_studies_content {
        position: absolute;
        color: white;
        margin-top: -45px;
        margin-left: 22px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .rectangle {
        width: 5%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        margin-left: 134px;
        color: white;
        position: absolute;
        margin-top: -86px;
        height: 37px;
    }

    .card.work {
        width: 100%;
    }

    .requirement_des {
        font-weight: 400;
        font-size: 16px;
        text-align: justify;
        padding: 0px 21px 7px 21px;
        color: #878787;
    }

    .circle {
        position: absolute;
        top: 31px;
        right: 88px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 45px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 214px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 45px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 214px;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 267px;
        margin-right: -32px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover{
        float: right;
        margin-top: 267px;
        margin-right: -32px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

    .profile_shape_img {
        display: none;
    }

    .profile_shape_sec_img {
        display: none;
    }

    .view_all_btn {
        margin-top: 7px;
        height: 40px;
        width: 15%;
        border: none;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .profile_img {
        width: 24%;
        height: 85px;
        margin: 19px 10px 10px 10px;
    }

    .review_description {
        text-align: justify;
        margin: 9px;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    .card.business>p {
        color: black;
    }
    
    .card.business:hover>p {
        color: white;
    }

}

@media screen and (max-width: 784px) {

    .basic_btn {
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 18px;
    }

    .rating_img {
        width: 100%;
        margin-top: 12px;
    }

    .rating_content {
        font-size: 16px;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        margin: 5px;
    }

    .case_studies_content {
        position: absolute;
        color: white;
        margin-top: -45px;
        margin-left: 22px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .rectangle {
        width: 5%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        margin-left: 122px;
        color: white;
        position: absolute;
        margin-top: -85px;
        height: 37px;
    }

    .circle {
        position: absolute;
        top: 24px;
        right: 84px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 45px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 237px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 45px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 237px;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 288px;
        margin-right: -32px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 288px;
        margin-right: -32px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

}

@media screen and (max-width: 600px) {

    .carousel-caption {
        position: absolute;
        right: 50%;
        top: 15%;
        bottom: 169px;
        left: 10%;
        z-index: 10;
        padding-top: 8px;
        padding-bottom: 264px;
        color: #fff;
        text-align: left;
        width: 60%;
    }

    .card.business {
        width: 50%;
        margin: 5px 0 0 134px;
    }

    .card.business:hover {
        width: 50%;
        margin: 5px 0 0 134px;
    }

    .about_services_btn {
        width: 25%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        margin-top: 19px;
        margin-right: 35px;
    }

    .about_section {
        color: #878787;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        padding: 41px;
    }

    .card_img {
        width: 45%;
        margin: 8px 0 0px 0px;
    }

    .about_basic_btn {
        width: 30%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        float: left;
        margin-top: 14px;
        margin-left: 40px;
    }

    .rating_img {
        width: 35%;
        margin-top: 11px;
        margin-left: 133px;
        margin-bottom: 17px;
    }

    .card_inner_section {
        width: 38%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 79px;
        margin-left: 35px;
    }

    .case_studies_img {
        width: 65%;
        margin-top: 5px;
    }

    .case_studies {
        position: absolute;
        color: white;
        margin-top: -75px;
        margin-left: 108px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .case_studies_content {
        position: absolute;
        color: white;
        margin-top: -45px;
        margin-left: 108px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .rectangle {
        width: 8%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        margin-left: 122px;
        color: white;
        position: absolute;
        margin-top: -65px;
        height: 37px;
        margin-left: 408px;
    }

    .view_all_btn {
        margin-top: 10px;
        height: 40px;
        width: 25%;
        border: none;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .card.work {
        width: 57%;
        margin-left: 97px;
        margin-bottom: 19px;
    }

    .circle {
        position: absolute;
        top: 30px;
        right: 118px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .rectangle-box {
        width: 100%;
        padding: 20px;
        border: 2px solid #ccc;
        background: linear-gradient(to right, #224495, #3B70F9);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 32px;
    }

    .card.review {
        width: 55%;
        margin-left: 32px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 168px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 193px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 168px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 193px;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 263px;
        margin-right: -32px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 263px;
        margin-right: -32px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }
}

@media screen and (max-width: 500px) {

    .carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 169px;
        left: 10%;
        z-index: 10;
        padding-top: 8px;
        padding-bottom: 264px;
        color: #fff;
        text-align: left;
        width: 70%;
        font-size: 13px;
    }

    .basic_btn {
        height: 35px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 18px;
    }

    .card.business {
        width: 60%;
        margin: 5px 0 0 98px;
    }

    .card.business:hover {
        width: 60%;
        margin: 5px 0 0 98px;
    }

    .about_services_btn {
        width: 37%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        margin-top: 19px;
        margin-right: 35px;
    }

    .about_section {
        color: #878787;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        margin: 20px;
    }

    .about_image {
        border-radius: 24px;
        width: 88%;
        margin: 37px 0 57px 26px;
        min-height: 189px;
    }

    .card_img {
        width: 56%;
        margin: 10px 0 0px 0px;
    }

    .support_section {
        font-size: 13px;
        font-weight: 500;
        color: #878787;
        text-align: justify;
        margin-left: 12px;
        width: 94%;
    }

    .rectangle {
        width: 7%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        margin-left: 122px;
        color: white;
        position: absolute;
        margin-top: -65px;
        height: 37px;
        margin-left: 342px;
    }

    .circle {
        position: absolute;
        top: 30px;
        right: 94px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 123px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 217px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 123px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 217px;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 286px;
        margin-right: -32px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 286px;
        margin-right: -32px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }


}

@media screen and (max-width: 400px) {

    .logo {
        width: 65%;
        height: 58px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        clip-path: polygon(0 0, 100% 0, 80% 101%, 0% 100%);
    }

    .logo_img {
        width: 74%;
        margin-top: 6px;
    }

    .carousel-caption {
        color: #fff;
        text-align: left;
        width: 79%;
        font-size: 12px;
        top: 13px;
    }

    .basic_btn {
        height: 35px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 14px;
    }

    .explore_arrow {
        margin-left: 10px;
        font-size: 16px;
    }

    .card.business {
        width: 74%;
        margin: 10px 0 0 51px;
    }

    .card.business:hover {
        width: 74%;
        margin: 10px 0 0 51px;
    }

    .card.image {
        width: 98px;
        margin-left: 88px;
        margin-top: 21px;
        background: linear-gradient(to right, #224495, #3B70F9);
    }

    .about_business {
        font-size: 19px;
        margin-top: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        margin-left: 12px;
    }

    .card_inner_section {
        width: 38%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 79px;
        margin-left: 26px;
    }

    .card_img {
        width: 77%;
        margin: 16px 0 0px 0px;
    }

    .about_basic_btn {
        width: 36%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        float: left;
        margin-top: 14px;
        margin-left: 40px;
    }

    .rating {
        display: flex;
        margin-left: 0px;
        margin-top: 13px;
    }

    .rating_img {
        width: 43%;
        margin-top: 11px;
        margin-left: 52px;
        margin-bottom: 17px;
    }

    .about_image {
        border-radius: 24px;
        width: 88%;
        margin: 25px 0 57px 33px;
        min-height: 189px;
    }

    .rectangle {
        width: 10%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        position: absolute;
        margin-top: -65px;
        height: 37px;
        margin-left: 268px;
    }

    .view_all_btn {
        height: 40px;
        width: 33%;
        border: none;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .circle {
        position: absolute;
        top: 27px;
        right: 93px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .card.work {
        width: 70%;
        margin-left: 68px;
        margin-bottom: 19px;
    }

    .case_studies {
        position: absolute;
        color: white;
        margin-top: -75px;
        margin-left: 96px;
        font-size: 19px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    .case_studies_content {
        position: absolute;
        color: white;
        margin-top: -45px;
        margin-left: 99px;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .card.review {
        width: 70%;
        margin-left: 32px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 31px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 216px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 31px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 216px;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 288px;
        margin-right: -34px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 288px;
        margin-right: -34px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

}

@media screen and (max-width: 360px) {

    .services_head {
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }

    .carousel-caption {
        color: #fff;
        text-align: left;
        width: 79%;
        font-size: 10px;
        top: 0px;
    }

    .basic_btn {
        height: 24px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        font-size: 13px;
    }

    .explore_arrow {
        margin-left: 10px;
        font-size: 13px;
    }

    .about_head {
        margin-top: 60px;
        font-weight: 700;
        background: linear-gradient(to right, #224495, #3B70F9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .card.image {
        width: 98px;
        margin-left: 74px;
        margin-top: 21px;
        background: linear-gradient(to right, #224495, #3B70F9);
    }

    .about_services_btn {
        width: 45%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        margin-top: 19px;
        margin-right: 0px;
    }

    .about_basic_btn {
        width: 40%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        float: left;
        margin-top: 14px;
        margin-left: 26px;
    }

    .case_studies {
        position: absolute;
        color: white;
        margin-top: -75px;
        margin-left: 72px;
        font-size: 19px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    .case_studies_content {
        position: absolute;
        color: white;
        margin-top: -45px;
        margin-left: 71px;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .rectangle {
        width: 10%;
        padding: 8px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        position: absolute;
        margin-top: -79px;
        height: 37px;
        margin-left: 236px;
    }

    .circle {
        position: absolute;
        top: 25px;
        right: 83px;
        background: linear-gradient(to right, #224495, #3B70F9);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .rectangle-box {
        width: 91%;
        padding: 20px;
        border: 2px solid #ccc;
        background: linear-gradient(to right, #224495, #3B70F9);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 32px;
    }

    .form-group label {
        display: block;
        text-align: justify;
        color: white;
        font-size: 14px;
    }

    .form-group.label {
        margin-bottom: 10px;
        margin-left: 33px;
    }

    .review_content {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: #878787;
        padding: 7px;
    }

    .arrow-btn-up-arrow {
        float: right;
        margin-right: 28px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
        margin-top: 236px;
    }

    .arrow-btn-up-arrow:hover {
        float: right;
        margin-right: 28px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
        margin-top: 236px;
    }

    .arrow-btn-down-arrow {
        float: right;
        margin-top: 311px;
        margin-right: -32px;
        border-color: #3B70F9;
        background-color: white;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: #3B70F9;
    }

    .arrow-btn-down-arrow:hover {
        float: right;
        margin-top: 311px;
        margin-right: -32px;
        border-color: white;
        background-color: #3B70F9;
        border-radius: 47px;
        width: 33px;
        height: 33px;
        color: white;
    }

    .card_section {
        display: block;
        text-align: -webkit-center;
        margin-top: -36px;
    }

    .card_inner_section {
        width: 26%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 103px;
        margin-left: 10px;
    }

    .services {
        font-size: 16px;
        font-weight: 500;
        margin-left: 41px;
        margin-top: 8px;
    }

    .services_section {
        font-size: 14px;
        font-weight: 500;
        color: #878787;
        text-align: justify;
        margin-left: 32px;
    }

    .support {
        font-size: 16px;
        margin-right: -13px;
        margin-top: 8px;
    }

    .support_section {
        font-size: 14px;
        font-weight: 500;
        color: #878787;
        text-align: justify;
        margin-left: 44px;
        width: 94%;
    }

    .about_image {
        border-radius: 24px;
        width: 88%;
        margin: 25px 0 57px 23px;
        min-height: 189px;
    }

}